@tailwind base;
@tailwind components;
@tailwind utilities;

.boxElement {
  border: 7px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to top, #119998, #38ef7d) border-box;
  border-radius: 30px;
}
